{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>昨日偷条</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/mhDoLbDldZc3qpsJHpLogda//BVZbgYuw6kof4u2FrCedxOtgRZDTHgHUhOCVim"
    crossorigin="anonymous"></script>
  <!-- 引入 Bootstrap 核心 JavaScript 文件（必须放在 body 最底部） -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

  <nav class="navbar navbar-expand-lg "
    style="background-color: rgba(111, 89, 156, 0.85); position: fixed; width: 100%; z-index: 99;">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/news/home" style="color: #d390c8;">昨日偷条</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">置顶</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/news/list/1">列表</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/news/classify">分类</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/news/search">搜索</a>
          </li>

        </ul>

        <!-- 引入 Font Awesome 图标库 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <style>
          .search-form {
            position: relative;
          }

          .search-options {
            position: absolute;
            top: calc(100% + 10px);
            /* 将搜索选项位置调整到搜索框下方 */
            left: 0;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            padding: 10px;
            display: none;
            z-index: 10;
          }

          .search-option {
            margin-bottom: 5px;

          }

          .search-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            left: 0;
          }

          .search-form {
            position: relative;
            /* 将搜索表单设置为相对定位 */
            display: flex;
            justify-content: flex-end;
            /* 将容器内的元素右对齐 */
          }

          .search-button-container {
            margin-left: 5px;
            /* 设置搜索按钮左侧的间隔 */
          }
        </style>

        <form class="d-flex col-sm-6 search-form" role="search" method="GET" action="">
          <div class="refresh-button-container"><button class="btn btn-outline-success me-2" type="submit"
              style="color: white; border-color: white;" onclick="refreshPage()">刷新</button></div>
          <script>
            function refreshPage() {
              location.reload(); // 使用 location.reload() 方法刷新页面
            }
          </script>

          <div style="position: relative;">
            <input class="form-control me-5" type="search" name="keyword" placeholder="输入内容" aria-label="Search"
              maxlength="50">
            <!-- 将图标元素放在搜索框内部 -->
            <i class="fas fa-caret-down search-icon fa-sm" style="font-size: 12px;"></i>
            <div class="search-options">
              <div class="search-option">
                <label for="sort">排序方式:</label><br>
                <input type="radio" id="sort_time" name="sort" value="time" checked>
                <label for="sort_time">按时间排序</label><br>
                <input type="radio" id="sort_popularity" name="sort" value="popularity">
                <label for="sort_popularity">按热度排序</label>
              </div>

              <div class="search-option">
                <label for="category">分类:</label><br>
                <input type="checkbox" id="category_politics" name="category[]" value="politics">
                <label for="category_politics">政治</label><br>
                <input type="checkbox" id="category_sports" name="category[]" value="sports">
                <label for="category_sports">体育</label><br>
                <input type="checkbox" id="category_entertainment" name="category[]" value="entertainment">
                <label for="category_entertainment">娱乐</label>
              </div>
            </div>

          </div>
          <div class="search-button-container"><button class="btn btn-outline-success me-2" type="submit"
              style="color: white; border-color: white;">搜索</button></div>



        </form>

        <script>
          document.querySelector('.search-icon').addEventListener('click', function () {
            var searchOptions = document.querySelector('.search-options');
            searchOptions.style.display = searchOptions.style.display === 'none' ? 'block' : 'none';
          });

          document.addEventListener('click', function (event) {
            var searchForm = document.querySelector('.search-form');
            if (!searchForm.contains(event.target)) {
              var searchOptions = document.querySelector('.search-options');
              searchOptions.style.display = 'none';
            }
          });
        </script>


      </div>
    </div>
  </nav>

  <div style="border: 5px; padding: 40px;">
    <div class="row row-cols-1 row-cols-md-4 g-5" id="component-container">
      <!-- Generated components will be inserted here -->
    </div>
  </div>


  <div class="row row-cols-1 row-cols-md-4 g-5" style="margin-right: 10px; margin-left: 10px;">
    {% for item in news %}
    <div class="col">
      <div class="card h-100">
        <img src="{% static item.local_img %}" class="card-img-top"
          onerror="this.onerror=null;this.src='/static/0b14d7d0299054b304787403cb8d568472257a63.jpg';"
          style="width: 100%; height: 200px; object-fit: cover;">

        <div class="card-body">
          <h3 class="card-title">{{ item.title }}</h3>
          <h6>关键词：{{ item.keywords }}</h6>
          <small>{{ item.source }}</small>
          <small>{{ item.date|date:"Y-m-d" }}</small>
          <p class="card-text">{{ item.content|slice:":100" }}...</p>

        </div>
        <a href="http://127.0.0.1:8000/news/mainbody/{{ item.id }}" class="btn btn-primary"
          style="position: relative; bottom: 10px; right: -10px; width: 25%;">详情</a>
        <div class="card-footer">
          <small class="text-muted" style="margin-right: 10px;">{{ item.views }}阅读</small>
          <small class="text-muted" style="margin-right: 10px;">{{ item.comments }}评论</small>
          <small class="text-muted" style="margin-right: 10px;">{{ item.likes }}点赞</small>
          <small class="text-muted" style="margin-right: 10px;">{{ item.favorites }}收藏</small>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>

  <br>
  <br>
  <br>
  <br>
</body>

</html>